<div class="center_part">
    <div id='box1'></div>
    <div id='box2'><img src="images/round_bg.png" alt=""/></div>
	<div class="round_number" style="margin-left:133px;"><a href="#">19</a></div>
    <div class="round_number"><a href="#">22</a></div>
    <div class="round_number"><a href="#">54</a></div>
    <div class="round_number"><a href="#">7</a></div>
    <div class="round_number"><a href="#">13</a></div>
    <div class="round_number" style="margin-left:20px;"><a href="#">13</a></div>
</div>

