<div class="middle_left_part">
    <div class="patroon_img">PATROON<br />
    <br />
    <img src="images/board_img.png" alt="" /></div>
    <div class="fl">
        <div class="patroon_box">PATROON
            <div class="patroon_bg">0.00  <span>€</span></div>
        </div>

        <div class="patroon_box">VOLLE KAART
            <div class="patroon_bg">0.00  <span>€</span></div>
        </div>

        <div class="patroon_box" style="width:50px;">BALLEN
            <div class="patroon_bg" style="width:50px; height:42px;"></div>
        </div>

        <div class="patroon_box">
            <div align="center"><img src="images/jackpot_img.png" alt="" /></div>
            <div class="pink_bg">15.00 <span>€</span></div>
        </div>
        <div class="cl"></div>
        <div class="kaart_bg">KAART VERKOOP OPEN</div>

        </div>
    </div>

	<div class="middle_right_part">
    	<div class="bingo_img"><img src="images/bingo_img.png" alt="" /></div>
        <div class="right_menu">
        	<ul>
            	<li> <img src="images/keep_icon.png" alt="" align="absmiddle" /><a href="#">Koop</a></li>
                <li><img src="images/ververs_icon.png" alt="" align="absmiddle" /><a href="#">Ververs</a></li>
                <li><img src="images/auto_koop_icon.png" alt="" align="absmiddle" /><a href="#">Auto Koop</a></li>
                <li style="padding-right:0px;"><img src="images/auto_sorteer.png" alt="" align="absmiddle" /><a href="#" style="padding-right:0px;">Auto Sorteer</a></li>
            </ul>
        </div>
    </div>

