                	<div class="middle_left_part">
                    	
                        
                        <div class="fl">
                        
                        <div class="patroon_box">PATROON
                          <div class="patroon_bg">0.00  <span>&#x80;</span></div>
                        </div>
                        
                        <div class="patroon_box">VOLLE KAART
                          <div class="patroon_bg">0.00  <span>&#x80;</span></div>
                        </div>
                        
                        
                        <div class="patroon_box">VOLLE KAART
                          <div class="patroon_bg">0.00  <span>&#x80;</span></div>
                        </div>
                        
                        <div class="patroon_box" style="width:50px;">BALLEN
                          <div class="patroon_bg" style="width:50px; height:39px;"></div>
                        </div>
                        
                        <div class="patroon_box">
                          <div align="center"><img src="images/jackpot_img.png" alt="" />
                          </div>
                          <div class="pink_bg">15.00 <span>&#x80;</span></div>
                        </div>
                        <div class="cl"></div>
                        
                        <div class="kaart_bg" style="width:545px;">KAART VERKOOP OPEN</div>
              
                        </div>
                        
                    </div>
                    
                    
                    
                    
                    	<div class="middle_right_part">
                        	<div class="bingo_btn_box">
<div class="elips_box"><img src="images/b_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/15_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/i_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/19_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/green_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/n_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/33_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/g_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/55_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/56_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/59_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/o_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/61_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/65_icon.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
<div class="elips_box"><img src="images/elips.png" alt="" width="16" height="16" /></div>
</div>
<div class="right_menu">
	<ul>
    	<li> <img src="images/keep_icon.png" alt="" align="absmiddle" /><a href="#">Koop</a></li>
        <li><img src="images/ververs_icon.png" alt="" align="absmiddle" /><a href="#">Ververs</a></li>
        <li><img src="images/auto_koop_icon.png" alt="" align="absmiddle" /><a href="#">Auto Koop</a></li>
        <li style="padding-right:0px;"><img src="images/auto_sorteer.png" alt="" align="absmiddle" /><a href="#" style="padding-right:0px;">Auto Sorteer</a></li>
    </ul>
</div>
</div>
</div>
                
