<div id="top_part">
<div class="top_left_img"><a href="#"><img src="images/top_left_img.png" alt="" width="40" height="28" /></a></div>
  <div class="price_bg">92.36  <span>&#x80;</span></div>
        <div class="top_left_img" style="padding-left:5px;"><img src="images/gold_img.png" alt="" width="39" height="27" /></div>
        <div class="img_1">BeCoolBingo <span>TM</span></div>
        <div class="top_right_part">
        	<div class="top_right_img"><a href="#"><img src="images/img_1.png" alt="" /></a></div>
          <div class="top_right_img" style="padding-right:15px;"><a href="#"><img src="images/img_2.png" alt="" /></a></div>
          <div class="volume_img"><a href="#"><img src="images/minas_img.png" alt="" /></a></div>
          <div class="top_right_img"><a href="#"><img src="images/volume_img.png" alt="" /></a></div>
          <div class="volume_img"><a href="#"><img src="images/plus_img.png" alt="" /></a></div>
        </div>
        <div class="cl"></div>
  </div>

