<div class="white_middle_part">
   
	<div class="rijhr_box">
    <%-partial('signin.ejs')%>    
    <div class="center_line"></div>
    <div class="filtters_box">
    <div class="filtters_text">FILTERS</div>
    <div class="cl"></div>
    
    <div class="list" style="width:118px;">
        	<div class="aare_text"><img src="images/red_icon.png" alt="" />&nbsp;</div>
      		<div class="timing" style="padding-left:0px;"><span style="padding-left:2px;">€</span>  <strong>0.50</strong></div>
           <div class="cl"></div>
        </div>
        
        <div class="list" style="width:118px;">
        	<div class="aare_text"><img src="images/red_icon.png" alt="" />&nbsp;</div>
      		<div class="timing" style="padding-left:0px;"><span style="padding-left:2px;">€</span>  <strong>0.20</strong></div>
           <div class="cl"></div>
        </div>
        
        <div class="list" style="width:118px;">
        	<div class="aare_text"><img src="images/red_icon.png" alt="" />&nbsp;</div>
      		<div class="timing" style="padding-left:0px;"><span style="padding-left:2px;">€</span>  <strong>0.10</strong></div>
           <div class="cl"></div>
        </div>
        
        <div class="list" style="width:118px;">
        	<div class="aare_text"><img src="images/red_icon.png" alt="" />&nbsp;</div>
      		<div class="timing" style="padding-left:0px;"><span style="padding-left:2px;">€</span>  <strong>0.05</strong></div>
           <div class="cl"></div>
        </div>
        
    </div>
    
    <div class="bottom_right_menu">
    	<div class="plyers_btn"><a href="#"><img src="images/players_text.png" alt="" /></a></div>
        <div class="friends_btn"><a href="#"><img src="images/friends_text.png" alt="" /></a></div>
      <div class="plyers_btn"><a href="#"><img src="images/blocked_text.png" alt="" /></a></div>
        <div class="friends_btn"><a href="#"><img src="images/winners_text.png" alt="" /></a></div>
    </div>
</div>

