<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
<div id="body">
<div class="hero">
      <div class="container">
        <h1>Register</h1>
      </div>
</div> 

<div class="container" style=" position:relative;">

 
	
    <form class="form-horizontal" id="formRegistration" name="formRegistration" style="background:none; border:none;">
    <div class="control-group">
		<div class="controls">
			<div class="error" style='width:420px;' align="center" id="errorRegistration"></div>
		</div>
	</div>

	<div class="control-group">
		<label class='control-label'>Name</label>
		<div class="controls">
			<input type="text" id="name" name="name" class="span3" placeholder="Your Name here">
		</div>
	</div>
	
	<div class="control-group">
		<label class='control-label'>Email</label>
		<div class="controls">
			<input type="text" id="email" name="email" class="span3" placeholder="Your email here">
		</div>
	</div>
	
	<div class="control-group">
		<label class='control-label'>Password</label>
		<div class="controls">
			<input type="password" id="password" name="password" class="span3" placeholder="Password">
		</div>
	</div>
	
	<div class="control-group">
		<label class='control-label'>Confirm Password</label>
		<div class="controls">
			<input type="password" id="confirmPassword" name="confirmPassword" class="span3" placeholder="Confirm password">    
		</div>
	</div>
    
    <div class="control-group">
		<label class='control-label'>Address</label>
		<div class="controls">
			<input type="text" id="address" name="address" class="span3" placeholder="Your address here">    
		</div>
	</div>

	<div class="control-group">
		<label class='control-label'>Zip</label>
		<div class="controls">
			<input type="text" id="zipcode" name="zipcode" class="span3" placeholder="Zip code">
		</div>
	</div>


	<div class="control-group">
		<label class='control-label'>Phone</label>
		<div class="controls">
			<input type="text" id="phone" name="phone" class="span3" placeholder="Phone number">    
		</div>
	</div>
    
    <div class="form-actions">
		<button id="submitRegistration" class="btn btn-large btn-inverse" style="line-height:10px; font-size:15px;">Submit</button>
	</div> 
     
    </form>
    </div>
   </div>
</div>
