<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
<h3>Sign in For Bingo</h3>
<div class="error" style='width:330px;margin:auto;' align="center" id= "errorSignin"></div>   
 <form class="well"  style="background:none; border:none;">
        <label>Email</label>
        <input type="text" id="email" name="email" class="span3" placeholder="Email Address">
        
        <br><label>Password</label>
        <input type="password" id="password" name="password" class="span3" placeholder="Password">
        <label><a href="#" style="font-size:11px; font-weight:normal;">Forgot your password?</a></label> 
        <label class="checkbox" style="font-size:12px; font-weight:normal;"><br>
        	<input type="checkbox">Remember Me
        </label><br><br>
         <button id="submitSignin" class="btn btn-large btn-inverse" style="line-height:10px; font-size:15px;">Sign in</button> 
    </form>  
    <a href="/registration">Register To Bingo</a>
 </div>

